In [ ]:
import pandas as pd
import numpy as np
from functools import reduce

## Dropping unnecessary columns

In [ ]:
df = pd.read_csv('/content/Book.csv')
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              8287 non-null   int64
 1   Edition Statement       773 non-null    object
 2   Place of Publication    8287 non-null   object
 3   Date of Publication     8106 non-null   object
 4   Publisher               4092 non-null   object
 5   Title                   8287 non-null   object
 6   Author                  6509 non-null   object
 7   Contributors            8287 non-null   object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            1 non-null      object
 11  Engraver                0 non-null      float64
 12  Issuance type           8287 non-null   object
 13  Flickr URL              8287 non-null   object
 14  Shelfmarks              8287 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 971.3+ KB

In [ ]:
df['Edition Statement']
# type(df['Edition Statement'].values[0])

0                                NaN
1                                NaN
2                                NaN
3                                NaN
4       A new edition, revised, etc.
                    ...
8282                             NaN
8283                             NaN
8284                             NaN
8285                             NaN
8286                             NaN
Name: Edition Statement, Length: 8287, dtype: object

In [ ]:
def checkNa(input):
    if pd.isna(input):
        print('Y')
    else:
        print('N')

df['Edition Statement'].apply(checkNa)

In [ ]:
to_drop = ['Edition Statement',
           'Corporate Author',
           'Corporate Contributors',
           'Former owner',
           'Engraver',
           'Contributors',
           'Issuance type',
           'Shelfmarks']

df2 = df.drop(to_drop,  axis=1)
df2.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

## Setting the index of the dataset

In [ ]:
df2.set_index('Identifier', inplace = True)
df2.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [ ]:
df2['Date of Publication'].sample(25)

Identifier
3977226                 1889
848933                  1852
1950588                 1877
1255870                 1670
939499                  1867
748854                  1866
2266498                 1861
3596727                 1856
3506778                 1882
429312                  1875
3954692                 1853
941237                  1880
660943                  1639
1467103                 1865
2483256                 1891
3678969                 1885
3603252                 1865
1932902                 1861
2304442                 1880
854731                  1837
3814731                 1744
34785      [1860,] 1861-1863
99583                   1846
1631147                 1880
1045858              [1876.]
Name: Date of Publication, dtype: object

## Check the content of the column- 'Date of Publication’ and define a function to clean the value. E.g., the original value: 1879 [1878] to: 1879; [1858.] to 1858;

## Cleaning columns using the `.apply` function

In [ ]:
dop = '1850 - 1234'

# unwanted_characters = ['[', ',', '-']

character = '-'

character_index = dop.find(character)
print('character_index :', character_index)
dop = dop[:character_index]
print('dop :', dop)

character_index : 5
dop : 1850

In [ ]:
unwanted_characters = [ ',', '[', ']', '-', '*', '$', '#', '.']
# [.1878] -> .1878 -> 1878

# 1879 [1878]  <- index = 5 -> return '1879 ' -> return '1879'
# 1879, 1878 <- index = 4 -> return '1879' -> return '1879'

def clean_dates(df):

    if pd.isna(df.loc['Date of Publication']):
        return df.loc['Date of Publication']

    dop= str(df.loc['Date of Publication'])
    if dop.startswith('['):
        # detect if the first char is an unwanted character, if yes, remove the first char
        pass

    for character in unwanted_characters:
        if character in dop:
            character_index = dop.find(character)
            dop = dop[:character_index]

    return dop.replace(' ', '')

df2['Date of Publication cleaned'] = df2.apply(clean_dates, axis = 1)

In [ ]:
df

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8282,4158088,NaN,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8283,4158128,NaN,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8284,4159563,NaN,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 19...
8285,4159587,NaN,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8286,4160339,NaN,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,"BANDINEL, Bulkeley.|Nichols, John Gough",NaN,NaN,NaN,NaN,continuing,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 79...

In [ ]:
df2[df2['Date of Publication cleaned'].isna()]
# df2[df2['Date of Publication'].isna()]

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL,Date of Publication cleaned
7,667,"pp. 40. G. Bryan & Co: Oxford, 1898",NaN,NaN,"The Coming of Spring, and other poems. By J. A...","A., J.|A., J.",http://www.flickr.com/photos/britishlibrary/ta...,NaN
35,11852,"pp. 40. W. Cann: Plymouth, [1876?]",NaN,NaN,"A Question of Holy Writ, suggested by a lectur...","ACKLAND - Lieut., R.N",http://www.flickr.com/photos/britishlibrary/ta...,NaN
145,55031,"pp. vi. 216. Hatchards: London, 1888",NaN,NaN,The White Man's Foot ... With ... illustration...,"Allen, Grant",http://www.flickr.com/photos/britishlibrary/ta...,NaN
310,124885,"pp. 64. W. Cann: Plymouth, [1870?]",NaN,NaN,The Divine Artisan ... A poem. [By Joseph Plim...,NaN,http://www.flickr.com/photos/britishlibrary/ta...,NaN
378,156798,"pp. 95. Erskine Macdonald: London, 1921",NaN,NaN,Reflections. [Verses.] By A. M. B. [i.e. A. M....,"B., A. M.",http://www.flickr.com/photos/britishlibrary/ta...,NaN
...,...,...,...,...,...,...,...,...
8260,4077038,"London: printed for Nicholas Vavasour, 1634",NaN,NaN,"The noble souldier. Or, A contract broken, jus...","ROWLEY, Samuel - Dramatist",http://www.flickr.com/photos/britishlibrary/ta...,NaN
8263,4112297,"London: Macmillan & Co., pp. xl, 400. 1895",NaN,NaN,Japhet in search of a Father ... With an intro...,"Marryat, Frederick",http://www.flickr.com/photos/britishlibrary/ta...,NaN
8267,4113816,"pp. xxvi, 375. London: Jackson, Walford & Hodd...",NaN,NaN,The lacemakers: sketches of Irish characters w...,"MEREDITH, Susanna.|WIBERG, Carl Fredrik.",http://www.flickr.com/photos/britishlibrary/ta...,NaN
8268,4114334,"pp. viii. 64. J. Debrett: London, 1789",NaN,NaN,"The Sword of Peace; or, a voyage of love; a co...",NaN,http://www.flickr.com/photos/britishlibrary/ta...,NaN
8272,4115138,"G. Eld: London, 1608",NaN,NaN,The Revenger's Tagaedie. As it hath beene sund...,NaN,http://www.flickr.com/photos/britishlibrary/ta...,NaN

In [ ]:
testString = '[1864:]'
result = testString.replace(testString[0], '')
result

'1864:]'

In [ ]:
unwanted_characters = ['[', ',', '-', ']', '?']

def clean_dates(item):
    dop= str(item.loc['Date of Publication'])

    if dop == 'nan':
        return np.NaN

    if dop[0] in unwanted_characters:
        dop = dop.replace(dop[0], '')

    for character in unwanted_characters:
        if character in dop:
            character_index = dop.find(character)
            dop = dop[:character_index]

    return dop

df2['Date of Publication cleaned'] = df2.apply(clean_dates, axis = 1)

In [ ]:
df2[df2['Date of Publication cleaned'].isna()]

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL,Date of Publication cleaned
7,667,"pp. 40. G. Bryan & Co: Oxford, 1898",NaN,NaN,"The Coming of Spring, and other poems. By J. A...","A., J.|A., J.",http://www.flickr.com/photos/britishlibrary/ta...,NaN
35,11852,"pp. 40. W. Cann: Plymouth, [1876?]",NaN,NaN,"A Question of Holy Writ, suggested by a lectur...","ACKLAND - Lieut., R.N",http://www.flickr.com/photos/britishlibrary/ta...,NaN
145,55031,"pp. vi. 216. Hatchards: London, 1888",NaN,NaN,The White Man's Foot ... With ... illustration...,"Allen, Grant",http://www.flickr.com/photos/britishlibrary/ta...,NaN
310,124885,"pp. 64. W. Cann: Plymouth, [1870?]",NaN,NaN,The Divine Artisan ... A poem. [By Joseph Plim...,NaN,http://www.flickr.com/photos/britishlibrary/ta...,NaN
378,156798,"pp. 95. Erskine Macdonald: London, 1921",NaN,NaN,Reflections. [Verses.] By A. M. B. [i.e. A. M....,"B., A. M.",http://www.flickr.com/photos/britishlibrary/ta...,NaN
...,...,...,...,...,...,...,...,...
8260,4077038,"London: printed for Nicholas Vavasour, 1634",NaN,NaN,"The noble souldier. Or, A contract broken, jus...","ROWLEY, Samuel - Dramatist",http://www.flickr.com/photos/britishlibrary/ta...,NaN
8263,4112297,"London: Macmillan & Co., pp. xl, 400. 1895",NaN,NaN,Japhet in search of a Father ... With an intro...,"Marryat, Frederick",http://www.flickr.com/photos/britishlibrary/ta...,NaN
8267,4113816,"pp. xxvi, 375. London: Jackson, Walford & Hodd...",NaN,NaN,The lacemakers: sketches of Irish characters w...,"MEREDITH, Susanna.|WIBERG, Carl Fredrik.",http://www.flickr.com/photos/britishlibrary/ta...,NaN
8268,4114334,"pp. viii. 64. J. Debrett: London, 1789",NaN,NaN,"The Sword of Peace; or, a voyage of love; a co...",NaN,http://www.flickr.com/photos/britishlibrary/ta...,NaN
8272,4115138,"G. Eld: London, 1608",NaN,NaN,The Revenger's Tagaedie. As it hath beene sund...,NaN,http://www.flickr.com/photos/britishlibrary/ta...,NaN

In [ ]:
# How do you exam the result?

# check if numeric

# check how many char

# what else?

In [ ]:
df2.iloc[24, :]

Place of Publication                                                      London
Date of Publication                                                      [1897?]
Publisher                                                  Bradbury, Agnew & Co.
Title                          [The comic history of England ... With twenty ...
Author                                                A'BECKETT, Gilbert Abbott.
Flickr URL                     http://www.flickr.com/photos/britishlibrary/ta...
Date of Publication cleaned                                                 1897
Name: 5385, dtype: object

In [ ]:
df2.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL,Date of Publication cleaned
Identifier,,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...,1879
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,1868
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,1869
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,1851
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,1857

In [ ]:
#@title
#alternate way of cleaning Date of Publication
#run cell to see output
unwanted_characters = ['[', ',', '-']

def clean_dates(dop):
    dop = str(dop)
    if dop.startswith('[') or dop == 'nan':
        return 'NaN'
    for character in unwanted_characters:
        if character in dop:
            character_index = dop.find(character)
            dop = dop[:character_index]
    return dop

df['Date of Publication'] = df['Date of Publication'].apply(clean_dates)
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

## Check the content of the column- ' Author’ and define a function to clean the value. And split the name to first name and last name.

e.g.

In [ ]:
df2['Author'].sample(10)

Identifier
2913162                                  PIERREPONT, Edward.
2803143                                PEACOCK, Thomas Love.
3366868        SHERIDAN, Richard Brinsley Butler - Right Hon
3287205                                   SCHMITZ, Leonhard.
350965            BILIOTTI, Édouard - and COTTRET ( ) Abbé
490816                          BROUWER, Pieter van Limburg.
3559129                                                  NaN
3822868                                            W., F. F.
1552689                                            H., H. B.
680962     CHEVALIER, Pierre Michel François - calling h...
Name: Author, dtype: object

In [ ]:
def logic(x):
    if x.isalpha():
        return x

input = "hello!"
# result = filter(lambda x: x.isalpha(), input)
result = filter(logic, input)
for x in result:
    print(x)

reduce(lambda x, y: x + y, name)

h
e
l
l
o

NameError: ignored

In [ ]:
def clean_author_names(author):

    author = str(author)

    if author == 'nan':
        return 'NaN'

    author = author.split(',')

    if len(author) == 1:
        name = filter(lambda x: x.isalpha(), author[0])
        result = reduce(lambda x, y: x + y, name)
        print (f'{author[0]} => {result}')
        return result

    last_name, first_name = author[0], author[1]

    first_name = first_name[:first_name.find('-')] if '-' in first_name else first_name

    if first_name.endswith(('.', '.|')):
        parts = first_name.split('.')

        if len(parts) > 1:
            first_occurence = first_name.find('.')
            final_occurence = first_name.find('.', first_occurence + 1)
            first_name = first_name[:final_occurence]
        else:
            first_name = first_name[:first_name.find('.')]

    last_name = last_name.capitalize()

    # return f'{first_name} {last_name}'
    return first_name, last_name

df2['Author cleaned'] = df2['Author'].apply(clean_author_names)
df2[['first name', 'last name'] ]= df2['Author'].apply(clean_author_names)

A. A. => AA
Remaʿ. => Remaʿ
Aeschylus. => Aeschylus
Masaniello => Masaniello
Apuleius. => Apuleius
Apuleius. => Apuleius
Aristotle. => Aristotle
Aristotle. => Aristotle
Aristotle. => Aristotle
Aristotle. => Aristotle
BRÉANT - and DUPRESSOIR (Charles) => BREANTandDUPRESSOIRCharles
COLOMEZ - Abbé => COLOMEZAbbe
E. A. B. D. (E. A. Bland) => EABDEABland
Natan Neṭaʿ - ha-Kohen => NatanNetaʿhaKohen
EVANS - Hotel-Keeper => EVANSHotelKeeper
FAWKES - Miss => FAWKESMiss
Freemasons. => Freemasons
Giraldus - Cambrensis => GiraldusCambrensis
GREINER - M.D => GREINERMD
GRUNER - Dr. Phil => GRUNERDrPhil
E. H. => EH
J. H. => JH
HENTSCHEL - Professor at Döbeln and MAERKEL ( ) Professor at Döbeln => HENTSCHELProfessoratDobelnandMAERKELProfessoratDobeln
Herodotus. => Herodotus
Herodotus. => Herodotus
Herodotus. => Herodotus
Herodotus. => Herodotus
Herodotus. => Herodotus
Herodotus. => Herodotus
Herodotus. => Herodotus
Herodotus. => Herodotus
Herodotus. => Herodotus
Herodotus. => Herodotus
Herodotus. => Herodotus
Herodotus. => Herodotus
Homer. => Homer
Horace. => Horace
Horace. => Horace
Inchbald - Mrs => InchbaldMrs
KLANKE - and RICHTER ( ) => KLANKEandRICHTER
Layman. => Layman
LE PALENC - and DOGNON (Paul) => LEPALENCandDOGNONPaul
Livy. => Livy
Livy. => Livy
Livy. => Livy
Livy. => Livy
Livy. => Livy
Livy. => Livy
Livy. => Livy
Livy. => Livy
Livy. => Livy
LUNEAU - and GALLET (Ch. Édouard) => LUNEAUandGALLETChEdouard
MANNIX - and WHELLAN (William) => MANNIXandWHELLANWilliam
MARTINUS [Strepus] - Archibishop of Gnesen => MARTINUSStrepusArchibishopofGnesen
Mary - Queen of Scots => MaryQueenofScots
Mary - Queen of Scots => MaryQueenofScots
Mary - Queen of Scots => MaryQueenofScots
MENU VON MINUTOLI - Baroness => MENUVONMINUTOLIBaroness
Moses - (Biblical leader) => MosesBiblicalleader
John Murray (Firm) => JohnMurrayFirm
NILSEN - Capt => NILSENCapt
Ouida => Ouida
Ouida => Ouida
PICHARD - Professor of Theology at Lausanne => PICHARDProfessorofTheologyatLausanne
Plato. => Plato
Plato. => Plato
Plato. => Plato
Plato. => Plato
Plato. => Plato
Plato. => Plato
Plato. => Plato
Plato. => Plato
Plato. => Plato
Plato. => Plato
Plato. => Plato
Plato. => Plato
Plato. => Plato
Ptolemy => Ptolemy
J. R. => JR
ROUQUETTE - Mrs => ROUQUETTEMrs
E. M. S. (Emma M. Stirling) => EMSEmmaMStirling
H. S. => HS
W. S. => WS
SAINTE-MARIE - Count => SAINTEMARIECount
Sedaine => Sedaine
Sedaine => Sedaine
ṢIVACHANDRA VASU => SIVACHANDRAVASU
Victoria - Queen of Great Britain => VictoriaQueenofGreatBritain
Victoria - Queen of Great Britain => VictoriaQueenofGreatBritain
VIDAL - Prieur de Miellet => VIDALPrieurdeMiellet
Vivekananda - Swami => VivekanandaSwami
Voltaire => Voltaire
Voltaire => Voltaire
Voltaire => Voltaire
J. W. => JW
WILSON - Military Commissary => WILSONMilitaryCommissary
Xenophon. => Xenophon
Xenophon. => Xenophon
Xenophon. => Xenophon
Xenophon. => Xenophon
Xenophon. => Xenophon
Xenophon. => Xenophon
Xenophon. => Xenophon
Xenophon. => Xenophon
Xenophon. => Xenophon
Xenophon. => Xenophon

In [ ]:
df2[['Author cleaned', 'Author']]

In [ ]:
def clean_author_names(author):

    author = str(author['Author'])

    if author == 'nan':
        return 'NaN'

    author = author.split(',')

    # print(author)

    if len(author) == 1:
        # name = filter(lambda x: x.isalpha(), author[0])
        # result = reduce(lambda x, y: x + y, name)
        # print (f'{author[0]} => {result}')
        return 'NaN', author[0]

    last_name, first_name = author[0], author[1]

    first_name = first_name[:first_name.find('-')] if '-' in first_name else first_name

    if first_name.endswith(('.', '.|')):
        parts = first_name.split('.')

        if len(parts) > 1:
            first_occurence = first_name.find('.')
            final_occurence = first_name.find('.', first_occurence + 1)
            first_name = first_name[:final_occurence]
        else:
            first_name = first_name[:first_name.find('.')]

    last_name = last_name.capitalize()

    return first_name, last_name


# df2['Author Firstname'], df2['Author Lastname'] = df2.apply(clean_author_names, axis=1, result_type='expand')
df2[['Author Firstname', 'Author Lastname'] ] = df2.apply(clean_author_names, axis=1, result_type='expand')

In [ ]:
df2[['Author Firstname', 'Author Lastname','Author']]

## Check the content of the column- ‘Title’ and define a function to clean the value. E.g., the original value: Walter Forbes. [A novel.] By A. A to: Walter Forbes;  Love the Avenger. By the author of “All for Gr.. to Love The Avenger.

In [ ]:
def clean_title(title):

    if title == 'nan':
        return 'NaN'

    if '.' in title:
        title = title[:title.find('.')]
        # title.find('.') <- get the index of the first '.'
        # title[:title.find('.')] <- trim title and keep only those char on the left of '.'
    if title[0] == '[':
        title = title[1: title.find(']')]
    if '[' in title:
        title = title[:title.find('[')]

    if 'by' in title:
        title = title[:title.find('by')]
    elif 'By' in title:
        title = title[:title.find('By')]


    title = title[:-2]

    # Capatlize each word by cut them apart, capitalize each item and merge them back together
    title = list(map(str.capitalize, title.split()))
    return ' '.join(title)

df2['Title cleaned'] = df2['Title'].apply(clean_title)
df2.head()

In [ ]:
df2[['Title cleaned', 'Title'] ]

## Check the content of the column- ‘Place of Publication’ and define a function to clean the value. E.g., the original value: London; Virtue & Yorston to: London.

In [ ]:
#4157862 and 4159587
df.loc[4159587]

In [ ]:
# Method A

pub = df['Place of Publication']
df['Place of Publication'] = np.where(pub.str.contains('London'), 'London',
    np.where(pub.str.contains('Oxford'), 'Oxford',
        np.where(pub.eq('Newcastle upon Tyne'),
            'Newcastle-upon-Tyne', df['Place of Publication'])))

In [ ]:
df.head()

In [ ]:
place_list = df['Place of Publication'].value_counts().sort_values(ascending=True)
place_list

Moskwa                                    1
London; Cole's Book Arcade                1
Melegnano                                 1
Tōkyō                                   1
pp. 281. Hatchards: London, [1889.]       1
                                       ...
Leipzig                                 119
New York                                177
Edinburgh                               208
Paris                                   479
London                                 3868
Name: Place of Publication, Length: 1441, dtype: int64

In [ ]:
for p in place_list.index:
    print(p)

In [ ]:
# Method B
placeList = df['Place of Publication'].value_counts().sort_values(ascending=True)
placeList

London                                       3868
Paris                                         479
Edinburgh                                     208
New York                                      177
Leipzig                                       119
                                             ...
pp. iv. 175. Chapman & Hall: London, 1888       1
Poincot, Paris,] 1788-93                        1
Coblenz, Leipzig [printed]                      1
Zutphen                                         1
Newcastle upon Tyne                             1
Name: Place of Publication, Length: 1441, dtype: int64

In [ ]:
for i in placeList.items():
    print(i)

In [ ]:
for i in placeList.index:
    print(i)

In [ ]:
df['Place of Publication'].head(10)

0                                 London
1               London; Virtue & Yorston
2                                 London
3                                 London
4                                 London
5                                 London
6                                 London
7    pp. 40. G. Bryan & Co: Oxford, 1898
8                                London]
9                                 London
Name: Place of Publication, dtype: object

In [ ]:
def cleanPlaceOfPublication(PoP: str):

    print(PoP, type(PoP))
    result = PoP # London
    for p in placeList.index:  # "E. Nister: London; Nuremberg [printed, 1890]" ----> "London"
        if p in PoP: # London; Virtue & Yorston IN London; Virtue & Yorston ---> London IN London; Virtue & Yorston
            result = p

    return result

name = 'pp. 40. G. Bryan & Co: Oxford, 1898'
cleanPlaceOfPublication(name)

df['cleaned Place of Publication'] = df['Place of Publication'].head(10).apply(cleanPlaceOfPublication)

London <class 'str'>
London; Virtue & Yorston <class 'str'>
London <class 'str'>
London <class 'str'>
London <class 'str'>
London <class 'str'>
London <class 'str'>
pp. 40. G. Bryan & Co: Oxford, 1898 <class 'str'>
London] <class 'str'>
London <class 'str'>

In [ ]:
df[['cleaned Place of Publication', 'Place of Publication']].sample(15)

     cleaned Place of Publication            Place of Publication
6187                 Boston [Mass                  Boston [Mass.]
5918                      Lipsiae                         Lipsiae
7743               Egmore, Madras                  Egmore, Madras
4792                        Havre                           Havre
3826                         Lond                          London
5439                         Lond                          London
7919                         Lond                          London
1456                         Lond                          London
6150                         Lond                          London
3889                         Lond                          London
5466                         Lond  London, Philadelphia [printed]
1087                     Warszawa                        Warszawa
6959                         Lond                          London
6267                       Boston                          Boston
3043     Richmond, Va., reprinted        Richmond, Va., reprinted

In [ ]:
def cleanPlaceOfPublication(PoP):

    result = PoP
    for i in placeList.index:
        if i in PoP: # e.g. PoP = "E. Nister: London; Nuremberg [printed, 1890]" or "London, Edinburgh [printed]"
            result = i
    return result

df['cleaned Place of Publication'] = df['Place of Publication'].apply(cleanPlaceOfPublication)
df[['cleaned Place of Publication', 'Place of Publication']].sample(60)

# catch -> "Boston, U.S.A., & London"

     cleaned Place of Publication                      Place of Publication
5015                       London                                    London
1172                       Mexico                                    Mexico
4004                       London                                    London
7669                        Paris                                     Paris
421                        London                                    London
1209                       London                                    London
1450                        Derby                                     Derby
5346                       London                                    London
175                  Philadelphia                              Philadelphia
1677                   Birmingham                                Birmingham
4976                         Pisa                                      Pisa
2081                       London                                    London
6442                       London                                    London
770                        London                                    London
981                      New York                                  New York
6251                       London                                    London
3561                 Ἐν Βενετιᾳ                              Ἐν Βενετιᾳ
5191                        Paris                                     Paris
4797                        Paris                                     Paris
7990                       London                                    London
5386                       London                                    London
3263                       London                                    London
7321                    Bruxelles                                 Bruxelles
7123                  Christiania                               Christiania
1184                  Königsberg                               Königsberg
5022                       London                                    London
3929                      Belfast                                   Belfast
1134                       London                                    London
732                    Birmingham                                Birmingham
5726                       London                                    London
986                        London                                    London
7581               Boston [Mass.]                            Boston [Mass.]
6456                       London                                    London
3706                       London  pp. viii. 305. E. W. Allen: London, 1888
5684                       London                                    London
2336                      Leipzig                                   Leipzig
1443                        Paris                                     Paris
211                      Jedburgh                                  Jedburgh
6723                       London               London; Edinburgh [printed]
2087                       London                                    London
373                        London                                    London
4123                     Calcutta                                  Calcutta
5810                      Chicago                                   Chicago
5048                       London                                    London
6504                    Sheffield                                 Sheffield
5259                       Napoli                                    Napoli
552                        London                                    London
3476                       London                                    London
3179                        Truro                                     Truro
747                     Edinburgh                                 Edinburgh
1270                     Coventry                                  Coventry
6250                       London                                    London
6607                  Westminster                               Westminster
4606                    Allahabad                                 Allahabad
3940                      Zürich                                   Zürich
915                        London                                    London
2085                       London                         New York & London
6205                        Paris                                     Paris
2877                       London                                    London
3669                    Darmstadt                                 Darmstadt